/results
/RemoteSystemsTempFiles
/Bingo/.classpath
/Bingo/.project
/bin
/.metadata
/.recommenders
Bingo/.metadata/
Bingo/RemoteSystemsTempFiles/
Bingo/bin/
Bingo/.settings/org.eclipse.m2e.core.prefs
Bingo/target/
sosoBingoKeys.csv
sosoNames.txt
sosoImages/*
Bingo/src/bingo/soso/*